@keyframes App-logo-spin {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1turn);
  }
}
#custom-audio-controller-app {
  display: flex;
  justify-content: center;
}
.custom-audio-controller {
  text-align: center;
  width: 600px;
  padding: 50px;
}
.bar {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.bar .bar__time {
  font-size: 16px;
  font-family: "Acherus Grotesque";
  color: #000;
  font-weight: 700;
  line-height: 3.4;
}
.bar .bar__progress {
  flex: 1 1;
  border-radius: 5px;
  margin: 0 20px;
  height: 6px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.bar .bar__progress .bar__progress__knob {
  position: relative;
  height: 16px;
  width: 16px;
  border: 1.5px solid #eed282;
  border-radius: 50%;
  background-color: #eed282;
}
.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  padding: 10px 30px;
}
.control-item {
  padding: 1px;
  margin: 4px;
  cursor: pointer;
}
figure.wp-block-audio {
  display: none;
}
@media (max-width: 480px) {
  #custom-audio-controller-app .controls {
    padding: 10px 0;
  }
}
